.comment-card {
  background-color: var(--secondary);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  transition: transform 0.2s ease-in-out;
  max-width: 300px;
}

.comment-card:hover {
  transform: scale(1.05);
}

.comment-card .comment-author {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: var(--text);
}

.comment-card .comment-post {
  font-size: 1rem;
  margin: 5px 0;
  color: var(--text);
}

.comment-content {
  font-size: 1rem;
  margin: 5px 0;
  color: var(--text);
}

.comment-likes {
  font-size: 0.9rem;
  color: var(--text-dim);
}


.delete-button {
  background-color: #f44336;
  /* Color de fondo del botón */
  color: white;
  /* Color del texto del botón */
  border: none;
  /* Quita el borde */
  padding: 10px 20px;
  /* Espaciado interno */
  cursor: pointer;
  /* Cambia el cursor al pasar por encima */
  border-radius: 4px;
  /* Bordes redondeados */
  transition: background-color 0.3s, color 0.3s;
  /* Transición suave en hover */

  /* Estilo al pasar el mouse por encima */
  &:hover {
    background-color: #d32f2f;
  }
}